{{#each events}}
    {{#if isPrivate}}

    {{else}}
        <p id="event">Name: {{name}}
           Start Date: {{startDate}}
           End Date: {{endDate}}</p>
           <a href="/events/{{_id}}">Go To Event</a>
    {{/if}}
{{/each}}