{{#each rooms}}
    <p id="room">Building: {{building}},
    Room #: {{roomNumber}},
    Room Capacity: {{roomCapacity}},
    Room Features: {{roomFeatures}},
    Events: {{events}},
    Unavailable Times: {{unavailableTimes}},
    Room Picture: {{roomPicture}}</p>
{{/each}}