{{#if isAdmin}}
      <div class="showCreateLink">
      <a href="/rooms/roomCreate">Create a new room</a>
      </div>
{{/if}}

{{#each rooms}}
    <p class = "room">Building: {{building}}
    <br>
    Room #: {{roomNumber}}
    <br>
    Room Capacity: {{roomCapacity}}
    <br>
    Room Features: {{roomFeatures}}
    <br>
    Events: <ol>
      {{#each events}}
         <li>{{this}}</li>
      {{/each}}
    </ol>
    <br>
    Unavailable Times: <ul>
    {{#each unavailableTimes}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    <br>
    <img class="eventImage"
                          alt="{{building}} {{roomNumber}} Image"
                          src="{{roomPicture}}"
                          ></p>
    <form action="/events/create" method="GET" class="bookRoom" id="room_book_button" roomid="{{_id}}">
		<button type="submit" name="booking_button" class="booking_button">Book This Room!</button>
	  </form>
    <!--- Only show this if user is admin, maybe inject with Ajax? Should link to roommanage page for specific room ID-->
    {{#if isAdmin}}
       <div class="showEditButton">
      <form action="/rooms/{{_id}}" method="GET" class="editRoom">
      <button type="submit" name="editRoomButton" class="editRoomButton">Manage This Room</button>
      </form>
      <a href="/rooms/roomCreate">Create a new room</a>
      </div>
    {{/if}}
{{/each}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>
<script src="../public/js/ajax.js"></script>