
<p id="room">Building: {{building}},
Room #: {{roomNumber}},
Room Capacity: {{roomCapacity}},
Room Features: {{roomFeatures}},
Events: {{events}},
Unavailable Times: {{unavailableTimes}},
Room Picture: {{roomPicture}}</p>

<form action="/rooms/" method="PATCH" id="patch-room-form">
    <label for = "building">
        Building
        <input type="text" id="building" name = "building">
    </label>
    <label for = "roomNumber">
        Room #:
        <input type="text" id="roomNumber" name = "roomNumber" >
    </label>
    <label for="roomCapacity">
        Max Capacity:
        <input type="number" id="roomCapacity" name = "roomCapacity" >
    </label>
    <!-- AJAX calls: 
    When checkbox is checked, set endRecurring to visible
    When adding another time, add another unavailable instance to unavailable container, with deleteInstance not hidden-->
    <label for="unavailable-container">Unavailable Times</label>
    <div id="unavailable-container">
    <div class="unavailable-instance">
      <label>
        Start Date:
        <input type="date" name="startDate">
      </label>
      <label>
        End Date:
        <input type="date" name="endDate">
      </label>
      <label>
        <input type="checkbox" name="isRecurring" id="isRecurring">
        Is Recurring
      </label>
      <label class="endRecurring" hidden>
        End Recurring:
        <input type="date" name="endRecurring">
      </label>
      <button type="button" id="addInstance">Add Another Time</button>
      <button type="button" id="deleteInstance" hidden>Delete</button>
    </div>
  </div>
  <label>
    <button type="submit" name="edit_button" id="edit_button">Edit Room</button>
  </label>
</form>

<form action="/rooms/" method="DELETE" id="deleteRoom">
    <button type="submit" name="delete_button" id="delete_button">Delete Room</button>
</form>