{{#each rooms}}
    <p id="room">Building: {{building}}
    <br>
    Room #: {{roomNumber}}
    <br>
    Room Capacity: {{roomCapacity}}
    <br>
    Room Features: {{roomFeatures}}
    <br>
    Events: {{events}}
    <br>
    Unavailable Times: {{unavailableTimes}}
    <br>
    Room Picture:<img class="eventImage"
                          alt="{{building}} {{roomNumber}} Image"
                          src="{{roomPicture}}"
                          ></p>
    <form action="/events/" method="POST" id="bookRoom">
		<button type="submit" name="booking_button" id="booking_button">Book This Room!</button>
	  </form>
    <!--- Only show this if user is admin, maybe inject with Ajax? Should link to roommanage page for specific room ID-->
    <div class="showEditButton">
    <form action="/rooms/" method="POST" id="editRoom">
    <button type="submit" name="editRoomButton" id="editRoomButton">Manage This Room</button>
    </form>
    </div>
{{/each}}