<form action="/users/" method="PATCH" id="permissions-form">
    <p id="userInfo" currentuser = "{{currentuser}}" thisuser = "{{username}}">
        Username:{{username}},
        First Name: {{firstName}},
        Last Name: {{lastName}},
        Permissions: {{permissions}},
        Being Granted: {{beingGranted}},
        Approving Users: {{usersApproving}}
    </p>
    <label for = "permissions">
        Change Permissions to: 
        <select id="permissions" name="permissions" class="input">
            <option value = 2>Admin</option>
            <option value = 1>Moderator</option>
            <option value = 0>User</option>
        </select>
    </label>
    <label for = "submit_button">
        <button name="submit_button" id="submit_button" type="submit">Submit</button>
    </label>
</form>