<form action="/users/user/{{_id}}" method="POST" id="permissions-form">
    <p id="userInfo" currentuser = "{{currentuser}}" thisuser = "{{username}}">
        Username: {{username}}
        <br>
        First Name: {{firstName}}
        <br>
        Last Name: {{lastName}}
        <br>
        Permissions: {{permissions}}
        <br>
        Being Granted: {{beingGranted}}
        <br>
        Approving Users: {{usersApproving}}
        <br>
    </p>
    <label for = "submit_button">
        <button name="submit_button" id="submit_button" type="submit">Upgrade Permissions</button>
    </label>
</form>