<form action="/users/" method="POST" id="permissions-form">
    <p id="user">
        Username:{{username}}
        <br>
        First Name: {{firstName}}
        <br>
        Last Name: {{lastName}}
        <br>
        Permissions: {{permissions}}
        <br>
        Being Granted: {{beingGranted}}
        <br>
        Approving Users: {{usersApproving}}
        <br>
    </p>
    <label for = "permissions">
        Change Permissions to: 
        <input type="number" id="permissions" name="permissions">
    </label>
    <label for = "submit_button">
        <button name="submit_button" id="submit_button" type="submit">Submit</button>
    </label>
</form>